---
import Layout from '../layouts/Layout.astro';
import Posts from '../components/Posts.astro';
import About from '../components/About.astro';
import Timeline from '../components/Timeline.astro';
import Projects from '../components/Projects.astro';
import Services from '../components/Services.astro';
import Testimonial from '../components/Testimonial.astro';
import Contact from '../components/Contact.astro';

---

<Layout title="Portfolio Web Prototype Nro.2">

	<main class="flex flex-col gap-8">
		
		<!-- init -->
		<section class="flex flex-col md:flex-row justify-center items-center gap-12 py-6 md:py-24">
			<article class="relative w-auto h-[300px]">
				<div class="relative size-[300px] md:size-[380px] p-4 bg-cover bg-[#e5e5e5] rounded-[1000px]">
					<div class="absolute m-auto top-0 left-0 right-0 bottom-0 z-10 size-[260px] md:size-[320px] bg-no-repeat bg-center bg-cover bg-[url('/src/assets/images/1.jpg')] rounded-[1000px] animate-morph"></div>
				</div>
			</article>

			<article class="text-center flex flex-col justify-center items-center gap-4 ">
				<h1 class="font-black text-6xl tracking-widest uppercase">
					<span id="erlingText" class="block">Fabricio</span>Jordán
				</h1>
				<footer id="jobCard" class="relative [&>*]:text-[#868a9b] bg-[#f5f5f5] py-2 px-4 flex flex-row justify-center items-center gap-2 font-Syne">
					<span class="job">UI/UX Designer</span>
					<span class="job">Web Developer</span>
					<span>Web Designer</span>
				</footer>
			</article>
		</section>

		<About />

		<Services />

		<section id="portfolio" class="bg-[#f7f7f7]">
			<Projects />
		</section>
		
		<Timeline />

		<Testimonial />

		<Posts />

		<Contact />
		
	</main>

</Layout>



<style>
	.serviceSvg{
		filter: opacity(0.4);
		transition: filter 0.4s ease-in-out;
	}.listOfServices:hover .serviceSvg{
		filter: opacity(1);
	}
	
    .accordion-content {
    	transition: max-height 0.3s ease-out, padding 0.3s ease;
    }

	#erlingText{
		-webkit-text-stroke:1px #000;
		color: transparent;
	}
	#jobCard > span{
		position: relative;
		display: inline-block;
		padding-right: 15px;
		margin-right: 10px;
	}
	#jobCard > span.job::after{
		position: absolute;
		content: "";
		width: 6px;
		height: 6px;
		background-color: rgba(0, 0, 0, .15);
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 100%;
	}
	.listServices li::before{
		position: absolute;
		content: "";
		width: 6px;
		height: 6px;
		background-color: rgba(0, 0, 0, .15);
		border-radius: 100%;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

</style>

<style is:global>

	.sectionHeaderTitle{
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.sectionSubTitle{
		padding: 3rem; /* 48px */
		color: #868a9b;
		text-transform: uppercase;
	}

.sectionTitle{
	font-size: 1.875rem; /* 30px */
	line-height: 2.25rem; /* 36px */
}
@media (width >= 768px) {
	.sectionTitle{
		font-size: 2.25rem; /* 36px */
		line-height: 2.5rem; /* 40px */
	}
}

.erlingSubtitle::before{
		position: absolute;
		content: "";
		width: 40px;
		height: 1px;
		background-color: #868a9b;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	
	.erlingSubtitle::before{
		position: absolute;
		content: "";
		width: 40px;
		height: 1px;
		background-color: #868a9b;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

</style>