---

---


		<!-- contact -->
		<section id="contact" class="p-4 py-16 bg-[#f7f7f7] font-Syne">
			<article class=" flex flex-col gap-12 md:max-w-4xl md:m-auto md:w-full">
				<header class="sectionHeaderTitle">
					<span class="erlingSubtitle relative">
						<span class="sectionSubTitle">CONTACT</span>
					</span>
					<h3 class="sectionTitle font-semibold">Get in Touch</h3>
				</header>
	
				<div>
					<div class="accordion-header transition-transform duration-500 cursor-pointer flex space-x-5 px-5 items-center h-16 bg-[#eaeaea]">
						<h3 class="font-bold">PERSONAL DETAILS</h3>
					</div>
					<footer class="accordion-content px-5 pt-0 overflow-hidden max-h-0 bg-white">
						<ul class="">
							<p class="text-[#868a9b] p-4 inline-block leading-8">
								Our company provides services for our customers between 9:00 a.m. and 8:00 p.m. ET, Monday through Friday. You can visit or call during these days.
								<span class="flex"><span class="font-semibold block">Weekends</span> : Saturday and Sunday.</span>
							</p>
						</ul>
					</footer>
				</div>
			</article>
		</section>