---
---

<header class="fixed z-20 top-0 left-0 w-full bg-[#fff] font-Syne">
		<div class="w-full py-4 px-6 flex flex-row justify-between items-center border-b border-[#00000033]">
			<h1 class="uppercase font-black text-3xl tracking-wider">Fabricio</h1>
			
			<div id="desktop_Menu" class="hidden transition-all duration-500 opacity-0 ">
				<nav class="px-4 py-0 bg-white w-full menu desktop_Menu flex">
					<ul class="flex flex-row gap-x-4 justify-center items-start [&_A]:transition-opacity [&_A]:duration-300 [&_A]:text-[#939393] hover:[&_A]:text-[#000]">
						<li><a href="#home">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#services">Services</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#timeline">Timeline</a></li>
						<li><a href="#testimonial">Testimonial</a></li>
						<li><a href="#news">News</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>
			</div>

			<button id="dropmenuBtn" class="">
				<svg  xmlns="http://www.w3.org/2000/svg"  width="32"  height="32"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
			</button>
		</div>

		<div id="mobile_Menu" class="hidden flex transition-all duration-500 opacity-0 ">
			<nav class="p-4 bg-white w-full menu mobile__Menu flex md:hidden">
				<ul class="flex flex-col justify-center items-start gap-1 [&_A]:transition-colors [&_A]:duration-300 [&_A]:text-[#939393] hover:[&_A]:text-[#000]">
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#timeline">Timeline</a></li>
					<li><a href="#testimonial">Testimonial</a></li>
					<li><a href="#news">News</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>
		</div>
			

</header>


<style>
</style>
