---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="./styles.css">
		<link rel="stylesheet" href="/src/assets/css/swiper-bundle.min.css">
		<script defer src="/src/assets/js/swiper-bundle.min.js"></script>
		<script defer src="/sr	c/assets/js/Swaper.js"></script>
		<script defer src="/src/assets/js/HeaderMenu.js"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#fff] relative pt-14">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
</style>
